
.m-left{
    margin-left: -40px;
}
.m-left-5{
    margin-left: 5%;
}
br { clear: both; }

    .cntSeparator {
    font-size: 54px;
    margin: 10px 7px;
    color: #000;
    }

    .desc { margin: 7px 3px; }

    .desc div {
    float: left;
    font-family: Arial;
    width: 70px;
    margin-right: 65px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    }

.text-orange{
    color:#dd4814;
}
.text-white{
    color:white;
}

.color-footer{
    /*background-color: #dd4814;
  border-color: #bf3e11;*/
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-repeat: no-repeat;
}

.fondo-ganador{
    position: absolute;
    z-index: -1;
}

.ubicacion-ganador{
    font-size: 18px;
  margin-left: 220px;
  margin-top: 235px; }

.m-bottom5{
    margin-bottom: 5px;
}
.m-bottom10{
    margin-bottom: 5px;
}
.m-bottom15{
    margin-bottom: 5px;
}
.m-bottom20{
    margin-bottom: 20px;
}
.p-sm{
	padding:10px;
}


#imageness {
width: 300px;
margin: 0 auto;
}
.ex2 img{
height: 240px;
width: 240px;
padding: 5px;


-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}
.ex2 img:hover {
height: 263px;
width: 263px;
padding:0px;
opacity: 1;

}


.alert-success .alert-link {
  color: #FFFFFF;
}

.alert-success {
  background-color: rgba(221, 72, 20, 0.71);
  border-color: #DD4814;
  color: #C2C2C2;
}

.size-letter-30 {
    font-size: 30px;
}

.shadow-box{
    box-shadow: 0px 0px 14px 11px;
}