
.m-left{
    margin-left: -40px;
}
br { clear: both; }

    .cntSeparator {
    font-size: 54px;
    margin: 10px 7px;
    color: #000;
    }

    .desc { margin: 7px 3px; }

    .desc div {
    float: left;
    font-family: Arial;
    width: 70px;
    margin-right: 65px;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    }

.text-orange{
    color:#dd4814;
}
.text-white{
    color:white;
}

.color-footer{
    /*background-color: #dd4814;
  border-color: #bf3e11;*/
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-repeat: no-repeat;
}

.fondo-ganador{
    position: absolute;
    z-index: -1;
}

.ubicacion-ganador{
    font-size: 18px;
  margin-left: 220px;
  margin-top: 235px; }

.m-bottom5{
    margin-bottom: 5px;
}
.m-bottom10{
    margin-bottom: 5px;
}
.m-bottom15{
    margin-bottom: 5px;
}
.m-bottom20{
    margin-bottom: 20px;
}
.p-sm{
	padding:10px;
}