{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col-md-12 ">
        <div class="col-md-2"><!--
            <h4 class='text-center'>Nuestros Auspiciadores:</h4>
            <img class='img-rounded img-responsive -img-circle' src="img/aus1.jpg" alt="" />
            <p><a href="#">Criadero Ingenio</a></p><br />
            <img class='img-rounded img-responsive -img-circle' src="img/aus2.jpg" alt="" />
            <p><a href="#">Criadero Ingenio</a></p><br />-->
        </div>

        <div class="col-md-8 ">
            <div class="row">
                <h3 class='text-center text-orange'><strong>LISTA DE PARTICIPANTES DE ESTA SEMANA</strong> </h3>
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class='text-center'>#</th>
                            <th>Usuario</th>
                            <th>Hora de participacion</th>
                            <th>Evento al que participa</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in lista %}
                        <tr>
                            <td class='text-center' scope="row">{{ forloop.counter }}</td>
                            <td>{{ x.usuario.get_Full_name }}</td>
                            <td>{{ x.get_creacion_text }}</td>
                        </tr>
                   {% empty %}
                       <tr>
                            <td colspan="4">No se encontraron registros.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br />
            </div>
        </div>

        <div class="col-md-2"><!--
            <h4 class='text-center'>Nuestros Auspiciadores:</h4>
            <img class='img-rounded img-responsive -img-circle' src="img/aus3.jpg" alt="" />
            <p><a href="#">Criadero Ingenio</a></p><br />
            <img class='img-rounded img-responsive -img-circle' src="img/aus4.jpg" alt="" />
            <p><a href="#">Criadero Ingenio</a></p><br />-->
        </div>
    </div>

    <div class="col-md-12">

    </div>
</div>
{% endblock %}
