{% extends 'base.html' %}

{% block content %}
    
<div class="container">
    <div class="col-md-12 ">
        <div class="col-md-2"><!--
            <h4 class='text-center'>Nuestros Auspiciadores:</h4>
            <img class='img-rounded img-responsive -img-circle' src="img/aus1.jpg" alt="" />
            <p><a href="#">Criadero Ingenio</a></p><br />
            <img class='img-rounded img-responsive -img-circle' src="img/aus2.jpg" alt="" />
            <p><a href="#">Criadero Ingenio</a></p><br />-->
        </div>
        
        <div class="col-md-8 ">
            <div class="row">
                <h3 class='text-center text-orange'><strong>LISTA DE PARTICIPANTES DE ESTA SEMANA</strong> </h3>
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class='text-center'>#</th>
                            <th>Usuario</th>
                            <th>Movil</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class='text-center' scope="row">1</th>
                            <td>Mark</td>
                            <td>23452734</td>
                            <td>08:00 pm</td>
                        </tr>
                        <tr>
                            <th  class='text-center'scope="row">2</th>
                            <td>Jacob</td>
                            <td>96723547</td>
                            <td>06:00 pm</td>
                        </tr>
                        <tr>
                            <th class='text-center' scope="row">3</th>
                            <td>Larry</td>
                            <td>964234532</td>
                            <td>06:00 pm</td>
                        </tr>
                        <tr>
                            <th class='text-center' scope="row">4</th>
                            <td>Larry</td>
                            <td>964234532</td>
                            <td>06:00 pm</td>
                        </tr>
                        <tr>
                            <th class='text-center' scope="row">5</th>
                            <td>Larry</td>
                            <td>964234532</td>
                            <td>05:50 pm</td>
                        </tr>
                        <tr>
                            <th class='text-center' scope="row">6</th>
                            <td>Larry</td>
                            <td>964234532</td>
                            <td>05:45 pm</td>
                        </tr>
                        <tr>
                            <th class='text-center' scope="row">7</th>
                            <td>Larry</td>
                            <td>964234532</td>
                            <td>05:45 pm</td>
                        </tr>
                        
                       
                    </tbody>
                </table>
                <br />                           
            </div>
        </div>

        <div class="col-md-2"><!--
            <h4 class='text-center'>Nuestros Auspiciadores:</h4>
            <img class='img-rounded img-responsive -img-circle' src="img/aus3.jpg" alt="" />
            <p><a href="#">Criadero Ingenio</a></p><br />
            <img class='img-rounded img-responsive -img-circle' src="img/aus4.jpg" alt="" />
            <p><a href="#">Criadero Ingenio</a></p><br />-->
        </div>          
    </div>

    <div class="col-md-12">
        
           
        
        
    </div>
</div>
{% endblock %}
